.heading {
  background-color: salmon;
  color: #C0FFEE;
  border: 20px dotted yellow;
  width: 20rem;
}
.heading:hover {
  box-shadow: 10px;
}
.heading div {
  color: yellow;
  font-size: 24px;
}
.heading div:hover {
  color: pink;
}
.heading div p {
  font-size: 10px;
}

.another-style {
  color: papayawhip;
  width: 200px;
}

.another-style {
  font-size: 24px;
}

p {
  font-size: 25px;
  width: 50px;
  height: 50px;
  text-decoration: underline;
  border: 2px solid yellow;
  color: tan;
}
